---
import AboutLayout from "../layouts/AboutLayout.astro";
const birthYear = new Date().getFullYear() - 2003;
---

<AboutLayout
  title="Quem sou eu."
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date("January 05 2025")}
  heroImage="/about.jpeg"
>
  <p>
    Olá! Meu nome é Agnaldo Erick, tenho {birthYear} anos e sou apaixonado por tecnologia.
    Minha jornada nesse universo começou aos 18 anos, e desde então tenho me dedicado
    ao aprendizado e à prática em diversas áreas, sempre buscando aprofundar meus
    conhecimentos e explorar novos desafios.
  </p>

  <p>
    Sou estudante de Engenharia de Software na UFC - Campus Russas, no Ceará,
    onde tive a oportunidade de mergulhar em disciplinas que despertaram ainda
    mais minha curiosidade, como Probabilidade e Estatística, Grafos, Redes de
    Computadores, Banco de dados, Sistemas distribuidos, Inteligencia Artificial
    e Matemática Computacional. Essas áreas contribuíram significativamente para
    moldar minha visão sobre o impacto da tecnologia no mundo e reforçaram minha
    paixão por resolver problemas complexos.
  </p>

  <p>
    Ao longo da minha trajetória, participei de projetos voltados para Ciência
    de Dados. Hoje, tenho como objetivo me seguir carreira na área de dados.
    Para isso, estou aprofundando meus estudos em Backend, DevOps e Machine
    Learning, explorando como essas especialidades se conectam no ecossistema de
    dados.
  </p>

  <p>
    Este blog é um espaço onde compartilho minhas experiências, aprendizados e
    reflexões, unindo tecnologia e a busca constante por conhecimento.
  </p>

  <p>
    Seja bem-vindo(a) e espero que encontre aqui inspiração e informações
    valiosas!
  </p>
</AboutLayout>
