---
import ThemeIcon from "./ThemeIcon.astro";
import HeaderLink from "./HeaderLink.astro";
import Logo from "./Logo.astro";
---

<header>
  <nav>
    <Logo />
    <div class="internal-links">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/about">Sobre</HeaderLink>
    </div>
    <ThemeIcon />
  </nav>
</header>

<style>
  header {
    background-color: var(--header-color);
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }

  .internal-links {
    display: flex;
    gap: 1.5em;
  }

  nav a {
    padding: 1em 0.5em;
    color: var(--black);
    border-bottom: 4px solid transparent;
    text-decoration: none;
    transition: border-bottom-color 0.3s ease;
  }

  nav a:hover,
  nav a.active {
    border-bottom-color: var(--accent);
  }

  @media (max-width: 720px) {
    .internal-links {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5em;
    }

    .social-links {
      display: none;
    }
  }
</style>
