---

---

<a href="/">
  <svg
    viewBox="0 0 281 99"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    width="64"
    height="64"
  >
    <path
      class="logo"
      d="M69.987 79.1157C71.31 79.1157 72.4125 79.5788 73.2945 80.5049C74.1765 81.431 74.6175 82.5555 74.6175 83.8785V93.5365C74.6175 94.7713 74.1765 95.8517 73.2945 96.7778C72.4125 97.7039 71.31 98.167 69.987 98.167H4.63052C3.39571 98.167 2.31526 97.7039 1.38916 96.7778C0.463052 95.8517 0 94.7713 0 93.5365V83.8785C0 82.5555 0.463052 81.431 1.38916 80.5049C2.31526 79.5788 3.39571 79.1157 4.63052 79.1157H69.987ZM4.63052 58.6091C3.39571 58.6091 2.31526 58.1461 1.38916 57.22C0.463052 56.2939 0 55.2134 0 53.9786V44.0561C0 42.8213 0.463052 41.7408 1.38916 40.8147C2.31526 39.8886 3.39571 39.4256 4.63052 39.4256H64.0334C65.3565 39.4256 66.481 39.8886 67.4071 40.8147C68.3332 41.7408 68.7963 42.8213 68.7963 44.0561V53.9786C68.7963 55.2134 68.3332 56.2939 67.4071 57.22C66.481 58.1461 65.3565 58.6091 64.0334 58.6091H4.63052ZM69.987 0C71.31 0 72.4125 0.463052 73.2945 1.38916C74.1765 2.31526 74.6175 3.39571 74.6175 4.63052V14.2885C74.6175 15.6115 74.1765 16.736 73.2945 17.6621C72.4125 18.5882 71.31 19.0513 69.987 19.0513H4.63052C3.39571 19.0513 2.31526 18.5882 1.38916 17.6621C0.463052 16.736 0 15.6115 0 14.2885V4.63052C0 3.39571 0.463052 2.31526 1.38916 1.38916C2.31526 0.463052 3.39571 0 4.63052 0H69.987ZM111.715 0C113.038 0 114.162 0.463052 115.088 1.38916C116.014 2.31526 116.477 3.43981 116.477 4.76282V14.4208C116.477 15.7438 116.014 16.8683 115.088 17.7944C114.162 18.7205 113.038 19.1836 111.715 19.1836H98.0876C96.8528 19.1836 95.7723 18.7205 94.8462 17.7944C93.9201 16.8683 93.4571 15.7438 93.4571 14.4208V4.76282C93.4571 3.43981 93.9201 2.31526 94.8462 1.38916C95.7723 0.463052 96.8528 0 98.0876 0H111.715ZM170.853 0C172.088 0 173.168 0.463052 174.094 1.38916C175.02 2.31526 175.483 3.43981 175.483 4.76282V14.4208C175.483 15.7438 175.02 16.8683 174.094 17.7944C173.168 18.7205 172.088 19.1836 170.853 19.1836H144.26V94.3303C144.26 95.5651 143.797 96.6455 142.871 97.5716C141.945 98.4977 140.865 98.9608 139.63 98.9608H129.443C128.12 98.9608 126.995 98.4977 126.069 97.5716C125.143 96.6455 124.68 95.5651 124.68 94.3303V4.76282C124.68 3.43981 125.143 2.31526 126.069 1.38916C126.995 0.463052 128.12 0 129.443 0H170.853ZM204.378 33.8689C203.143 33.8689 202.063 33.4059 201.136 32.4798C200.21 31.5537 199.747 30.4732 199.747 29.2384V4.63052C199.747 3.39571 200.21 2.31526 201.136 1.38916C202.063 0.463052 203.143 0 204.378 0H214.433C215.756 0 216.858 0.463052 217.74 1.38916C218.622 2.31526 219.063 3.39571 219.063 4.63052V29.2384C219.063 30.4732 218.622 31.5537 217.74 32.4798C216.858 33.4059 215.756 33.8689 214.433 33.8689H204.378ZM276.217 0C277.452 0 278.532 0.463052 279.458 1.38916C280.384 2.31526 280.848 3.39571 280.848 4.63052V93.5365C280.848 94.7713 280.384 95.8517 279.458 96.7778C278.532 97.7039 277.452 98.167 276.217 98.167H266.162C264.839 98.167 263.737 97.7039 262.855 96.7778C261.973 95.8517 261.532 94.7713 261.532 93.5365V58.6091H219.063V93.5365C219.063 94.7713 218.622 95.8517 217.74 96.7778C216.858 97.7039 215.756 98.167 214.433 98.167H204.378C203.143 98.167 202.063 97.7039 201.136 96.7778C200.21 95.8517 199.747 94.7713 199.747 93.5365V44.0561C199.747 42.8213 200.21 41.7408 201.136 40.8147C202.063 39.8886 203.143 39.4256 204.378 39.4256H261.532V4.63052C261.532 3.39571 261.973 2.31526 262.855 1.38916C263.737 0.463052 264.839 0 266.162 0H276.217Z"
      fill="black"></path>
  </svg>
</a>

<style>
  .logo {
    fill: black;
  }

  :global(.dark) .logo {
    fill: #fff;
  }
</style>
