---
import AdminLayout from "../../layouts/AdminLayout.astro";
---

<AdminLayout title="Add Post" Description="Add a new post to the blog">
  <section class="form-container">
    <div class="form-card">
      <h2 class="form-title">Add Post</h2>
      <form id="addForm">
        <label for="title">Title</label>
        <input
          type="text"
          id="title"
          name="title"
          placeholder="Enter the post title"
          required
        />

        <div class="hero-img-display">
          <label>Current Image:</label>
          <div class="image-container">
            <img
              id="imagePreview"
              src="/public/blog-placeholder-about.jpg"
              alt="Current Image"
              onclick="document.getElementById('heroImg').click();"
            />
            <input
              type="file"
              id="heroImg"
              name="heroImg"
              accept="image/*"
              style="display: none;"
            />
          </div>
        </div>

        <label for="content">Content</label>
        <textarea
          id="content"
          name="content"
          placeholder="Enter the post content"
          required></textarea>

        <button type="button" id="btn-add" class="btn-submit">Add Post</button>
      </form>
    </div>
  </section>

  <script>
    import { handleImageChange } from "../../scripts/handleImageChange.js";
    import { createPost } from "../../scripts/createPost.js";

    const heroImgElement = document.getElementById("heroImg");
    if (heroImgElement) {
      heroImgElement.addEventListener("change", handleImageChange);
    }

    const addButton = document.getElementById("btn-add");
    const addForm = document.getElementById("addForm") as HTMLFormElement;

    if (addButton && addForm) {
      addButton.addEventListener("click", async (e) => {
        e.preventDefault(); // Previne o envio padrão do formulário
        const formData = new FormData(addForm);
        await createPost(formData);
      });
    }
  </script>

  <style>
    .hero-img-display {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    img {
      width: 300px;
      height: 200px;
      object-fit: cover;
      object-position: center;
      cursor: pointer;
    }
  </style>
</AdminLayout>
